<div class="d-flex flex-wrap col-12 justify-content-between align-items-center" >
    <div class="card mt-4" *ngFor="let film of films$ |async" style="width: 18rem;">
      <img [src]="film.urlImage" class="card-img-top" [alt]="" style="height: 20rem;">
      <div class="card-body">
        <h5>{{film.titre}}</h5>
        <p class="card-text">{{film.description}}</p>
        <span (click)="updateFavoris(film)">{{ film.favoris?'en Favoris':'pas en Favoris' }}</span>
      </div>
    </div>
  </div>

<div *ngIf="!films$">
  <h1>Aucun Resultat</h1>
</div>